*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;   
}
/* using this method for the background is better since it's more clear ,direct and it's eaiser for other developer to understand the code in this way. */
body{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    background-image: linear-gradient(rgba(53, 47, 51, 0.5),rgba(180, 178, 174, 0.6)),url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*===========================================================================*/
/* style the toolbar */
.toolbar{
    background-color: rgb(255, 255, 255,0.7);

    width: 100%;
    height: 10%;

    position: fixed;
    top: 0px; /*it's ten since the height of the box is 80% of the whole page which leave 20% for top and bottom*/
    left: 0px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;

}

/*=============================================================================*/
/* style the title box(div) */
.toolbar div.title{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-left: 5%;
}

.toolbar .title img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
    margin-right: 10px;
}


/*=============================================================================*/
/* style the toolbar options */
/* About Us   , Contact Us  , Log in/ Sign in */


.toolbar ul{
    list-style-type: none;
}

.toolbar ul li{
    display: inline-block;
    padding-right: 30px;
}

.toolbar ul li a{
    color: black;
    text-decoration: none;
    font-weight: bolder;
    font-size: 80%;
}

.toolbar ul li a:hover{
    color: rgb(35, 89, 176);
    transition: 0.2s;
}

/* ================================================================================ */
/* ================================================================================ */
/* ================================================================================ */


.header h2.name{
    margin-top: 140px;
    margin-left: 10%;
    color: rgb(133, 27, 27);

}
/* ====================================================================== */
/* style the white box for the ingredients and the picture */
.container{ 
    width: 80%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;

    margin: 3%;
    margin-left: 10%;
}

/* ====================================================================== */

/*style the ingrediantes box (div)*/

.ingredient{
    /* background-color: brown;   */

    position: relative;
    margin: 20px;
    padding: 20px;
}

/* ---------------------------------------------------------------------- */
/* style the ingredients word */
.ingredient h3{
        color: rgb(15, 83, 156);
}

/* ------------------------------------------------------------------------ */

.ingredient ul{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-gap: 8px;

    list-style-position: inside;
   
}

/*=========================================================================================*/
/*=========================================================================================*/
/* style the white box for the method*/
.method{ 
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    width: 80%;

    margin: 5%  auto;
}
/* ------------------------------------------------------------ */
/* style the method(steps) box(div) */
.guide{ 
    /* background-color: rgba(19, 172, 2, 0.7); */

    position: relative;
    padding: 20px;
    margin: 20px;
} 

/* ------------------------------------------------------------ */
/* style the word 'Method' */
.method h3{
    color: rgb(15, 83, 156);
}

/* ------------------------------------------------------------ */
/* style the elements in ul tag(the steps) */
.method ul{
    display: grid;
    grid-template-columns: repeat(2, auto); 
    grid-gap: 30px; /* provide spacing between the items*/

    list-style-position: inside;
}

.method p{
    margin-left: 22px;
}